#style-switcher h2 a { background: #15191C none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}
/*END SCROLL TO TOP*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(209, 0, 0, 0.91) !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: rgba(209, 0, 0, 0.91) !important;
    background-color: transparent;
}

.menu-top li a:hover { color: rgba(209, 0, 0, 0.91)!important }

.navbar-default.menu-shrink li a:hover { color: rgba(209, 0, 0, 0.91) !important }
.navbar-default .navbar-toggle .icon-bar { background-color: rgba(209, 0, 0, 0.91) }


.section-title span {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.btn-home-bg {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;border: 2px solid rgba(199, 0, 0, 0.91); font-weight: bold; }

.about_single i {background: rgba(209, 0, 0, 0.91);border: 2px solid rgba(209, 0, 0, 0.91);}

.about_single:hover i {color: rgba(209, 0, 0, 0.91);border: 2px solid rgba(209, 0, 0, 0.91);}

.about_single span {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.about_single:hover h4 { color: rgba(209, 0, 0, 0.91) }


.single_feature i {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.single_feature_bg:hover {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0}

.single_feature:hover i {color: rgba(209, 0, 0, 0.91);}

.service:hover {background:rgba(209, 0, 0, 0.91);border: 2px solid rgba(209, 0, 0, 0.91);}

.service:hover .icon {color: rgba(209, 0, 0, 0.91);}

.our_work_menu ul li:hover,
.our_work_menu ul li.active {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;border-color: rgba(209, 0, 0, 0.91);}

.sing_link_img a:hover {background: rgba(209, 0, 0, 0.91);}

.single_our_work:hover {background: rgba(209, 0, 0, 0.91);}

.btn-portfolio-bg {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.carousel-indicators li {border: 1px solid #ffffff;background: #ffffff;}

.counter i {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;border: 2px solid rgba(209, 0, 0, 0.91);}

.counter:hover i{background:none;color:rgba(209, 0, 0, 0.91);border:2px solid rgba(209, 0, 0, 0.91)}

.social > li:after {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.team_text ul.social li a i:hover {border-color: #e8e8e9;background: rgba(209, 0, 0, 0.91);}

.social > li:hover:after { background: rgba(209, 0, 0, 0.91) }

.progress-bar > span {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.pricing-table-default:hover{ background: rgba(209, 0, 0, 0.91);}

.pricing-head .price {background-color: rgba(209, 0, 0, 0.91);}

.pricing-table-default:hover .price{color: rgba(209, 0, 0, 0.91);}

.pricing-table-default:hover .btn{color: rgba(209, 0, 0, 0.91);}

.blog-text i { color: rgba(209, 0, 0, 0.91) }

.blog-text span {color: rgba(209, 0, 0, 0.91);}

.btn-blog-bg:hover{border: 1px solid rgba(209, 0, 0, 0.91);color:rgba(209, 0, 0, 0.91);}

.form-control:focus {border: 1px solid rgba(209, 0, 0, 0.91);}

.btn-contact-bg {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.contact-address {background: rgba(209, 0, 0, 0.91) none repeat scroll 0 0;}

.copyright a {color: rgba(209, 0, 0, 0.91);}

.terezin-btn {
    background-color:#fc9611;
    border: 2px solid #fc9611;
}
